body {
    background-image: url('whiskey-1920.jpg');
    height: 100%;
    widows: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }