body {
    background-image: url('../images/whiskey-1920.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
     }
